= simple_form_for @archive do |f|
  = f.input :title
  = f.input :body, input_html: { rows: 10 }

  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :cover_image
    = f.file_field :cover_image, class: 'form-control'
    .help-block
    - if @archive.cover_image.attached?
      = image_tag @archive.cover_image.variant(resize: "300x200"), class: 'img-thumbnail', style: 'max-width: 40px'
  .form-group
    = f.label :sns_image
    = f.file_field :sns_image, class: 'form-control'
    .help-block
    - if @archive.sns_image.attached?
      = image_tag @archive.sns_image.variant(resize: "300x200"), class: 'img-thumbnail', style: 'max-width: 40px'
  = f.submit data: { disable_with: "Please wait..." }, class: 'btn btn-primary'
